body{
	background-image: url("http://static1.squarespace.com/static/5557a76ce4b01acf2bf98039/t/557727b6e4b03b6cbf5d0506/1433872433298/bigstock-Coffee-Shop-Blur-Background-Wi-86599157.jpg?format=2500w");
	text-align: center;
}

div.container { 
	width: 100%;
	border: 1px black;
 }

header, footer {
	padding: 1em;
	color: white;
	background-color: black;
	text-align: center;
}

aside{
	float: left;
	max-width: 350px;
	padding: 1em;
	color: white;
	display: inline;
}

article{
	border-left: 1px white;
	padding: 1em;
	overflow: hidden;
	text-align: center;
	display: inline;
	color: white;
}

#Pasta{
	text-align: center;
	display: block;
	max-width: 300px;
}
.rcorners {
    border-radius: 25px;
    border: 2px solid white;
   display: inline-block;
   background-color: black;
}